@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moon+Dance&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F3F1FF;
}

/* top players section */

.container {
    width: 870px;
    margin: auto;
    background-color: white;


}

.palyers-and-blogs {
    margin: 0 33px;

}

.top-players {
    margin-top: 36px;
    padding-bottom: 33px;
}

.section-title {
    color: #562EFF;
    font-weight: 24px;
    font-weight: 500;
    padding: 33px 0 40px 33px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;

}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

hr {
    width: 807px;
    margin: 0 auto;
}

/* responsive */
@media screen and (max-width:576px) {
    .container{
        width: 100%;
    }
    .palyers-and-blogs{
        margin: 0 33px;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 29px;

    }
    .player{
        justify-content: flex-start;
        flex-direction: column;
    }
    .section-title{
        text-align: center;
    }
}