@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moon+Dance&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #6d5adb;
}

/* top players section */

.container {
    width: 870px;
    margin: auto;



}

.palyers-and-blogs {
    padding: 0 33px;
    background-color: white;

}

.top-players {
    margin-top: 36px;
    padding-bottom: 33px;
}

.section-title {
    color: #562EFF;
    font-weight: 24px;
    font-weight: 500;
    padding: 33px 0 40px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;

}

.player {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

hr {
    width: 800px;
    margin: 0 auto;
}

/* blogs section */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 26px;
    padding-bottom: 42px;
    margin-bottom: 21px;
}

.blog {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* course section */
.course-container {
    padding: 0 33px;
    background-color: white;
}

.courses{
    display: flex;   
    justify-content: space-between;
    padding-bottom: 42px;
}

.course img {
    width: 224px;
    height: 104px;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: #AEAEAE;
    font-size: 12px;
    opacity: 0.50;
}

.rating-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duration {
    width: 94px;
    height: 30px;
    background-color: #FFE4E8;
    border-radius: 14px;
    color: #ED6B4F;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* responsive */
@media screen and (max-width:576px) {
    .container {
        width: 100%;
    }

    .palyers-and-blogs {
        margin: 0;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 29px;

    }

    .player {
        justify-content: flex-start;
        flex-direction: column;
    }

    .section-title {
        text-align: center;
    }

    /* blog section */
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
    }

    .courses{
        flex-direction: column;
        gap: 50px;
    }

    .course{
        display: flex;
        gap: 10px;
    }
    .course-info{
        display: flex;
        flex-direction: column;
    }
    .course-title{
        white-space: nowrap;
    }
}

.hide{
    display: none;

}